
:root{
    --c1:white;
    --c2:#BDD4FF;
    --background:linear-gradient(.5turn,white,#BDD4FF);
    --color:color-mix(in srgb,white 20%,#BDD4FF);
    --c3:#ff5757;
}

.edu{
    height: 550px;
    width: 85vw;
    /* border: 1px solid crimson; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.me{
    /* width: 28.5vw; */
    height: 550px;
    /* border: 1px solid red; */
}

.hed{
    color: grey;
    margin-left: 30px;
    font-size:x-large;
    font-weight: bold
}

.hs_hr{
    height: 400px;
    width: .5px;
    margin-left: 30px;
    margin-top: 40px;
    background-color: grey;
}

.twelve{
    margin-top: 100px;
    position: absolute;
    margin-left: -210px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    box-shadow: 0px 0px 10px 2px grey ;
    border: none;
}

.ten{
    margin-top: 250px;
    position: absolute;
    margin-left: -210px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    box-shadow: 0px 0px 10px 2px grey ;
    border: none;
}

.twe{
    width: 20vw;
    height: 100px;
    position: absolute;
    box-shadow: 0px 0px 5px 2px rgb(223, 221, 221);
    margin-left: 38px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    background-image: var(--background);
}
.te{
    position: absolute;
    width: 20vw;
    height: 100px;
    position: absolute;
    box-shadow: 0px 0px 5px 2px rgb(223, 221, 221) ;
    margin-left: 38px;
    margin-top: 200px;
    border-radius: 10px;
    text-align: center;
    background-image: var(--background);
}

.he{
    font-weight: bold;
    color: var(--c3);
}

.date{
    font-size: small;
}

.fr{
    font-size: small;
    font-weight: bold;
    
}


.grd{
    margin-top: 100px;
    position: absolute;
    margin-left: -135px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    box-shadow: 0px 0px 10px 2px grey ;
    border: none;
}

.pst{
    margin-top: 100px;
    position: absolute;
    margin-left: -188px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    box-shadow: 0px 0px 10px 2px grey ;
    border: none;
}